---
layout: default
type: mashup
id: 23
title: Armin Van Buuren Vs Toots & The Maytals - Funky Ping Pong
seoDescription: Listen the best of EDM / Trance with Reggae. Armin Van Buuren Vs Toots & The Maytals  - Funky Ping Pong Mashup / Bootleg of 2014. 
date: 20140705
metaKeywords: Armin van buuren, Toots & The Maytal, Funky Kingston, Ping Pong, Albert Olive, Mashup, Remix, Bootleg, 2014, edm
permalink: /mashup/armin-van-buuren-vs-toots-&-the-maytals-funky-ping-pong/
image: Armin-Van-Buuren-Vs-Toots-&-The-Maytals.jpg
soundcloud: 157396836
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/8QgZVO9sGkU?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/armin-van-buuren-vs-toots-the-maytals-funky-ping-pong-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}