---
layout: default
type: mashup
id: 28
title: Aspencat vs Bomba Estereo - Batega el foc de la ciutat
seoDescription: Escolta aquesta genial remescla entre Aspencat, grup del País Valencià i Bomba Estereo vinguts de Colòmbia. El mashup s'anomena Batega el foc de la cuitat.
date: 2015-01-25
metaKeywords: Aspencat, Bomba Estereo, Dj Albert Olive, Mashup, Bootleg, Remescla, Batega la ciutat, fuego, 2015, Batega el foc de la cuitat
permalink: /mashup/aspencat-vs-bomba-estereo-batega-el-foc-de-la-ciutat/
image: Aspencat-vs-Bomba-Estereo-Batega-el-foc-de-la-ciutat.jpg
duration: T04M52S
soundcloud: 187804470
youtube:
vimeo: 
dailymotion:
videoSeo: www.youtube.com/v/6DOesSB1l9M?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/aspencat-vs-bomba-estereo-batega-el-foc-de-la-ciutat-albert-olive-mashup
download: https://albertolive.bandcamp.com/track/aspencat-vs-bomba-estereo-batega-el-foc-de-la-ciutat-albert-olive-mashup
downloadLow: http://stereoload.com/albert-olive/aspencat-vs-bomba-estereo-batega-el-foc-de-la-ciutat-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}