---
layout: default
type: mashup
id: 28
title: Aspencat vs Bomba Estereo - Batega el foc de la ciutat
seoDescription: Escolta aquesta genial remescla entre Aspencat, grup del País Valencià i Bomba Estereo vinguts de Colòmbia. El mashup s'anomena Batega el foc de la cuitat.
date: 20150125
metaKeywords: Aspencat, Bomba Estereo, Dj Albert Olive, Mashup, Bootleg, Remescla, Batega la ciutat, fuego, 2015, Batega el foc de la cuitat
permalink: /mashup/aspencat-vs-bomba-estereo-batega-el-foc-de-la-ciutat/
image: Aspencat-vs-Bomba-Estereo-Batega-el-foc-de-la-ciutat.jpg
soundcloud: 187804470
youtube:
vimeo: 
dailymotion:
videoSeo: https://www.youtube.com/watch?v=6DOesSB1l9M
audioSeo: https://soundcloud.com/albert-olive/aspencat-vs-bomba-estereo-batega-el-foc-de-la-ciutat-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}