---
layout: default
type: mashup
id: 12
title: ATB vs Bellini - Samba de Janeiro at 9pm
seoDescription: Listen and download the most original mashup / bootleg song of 2013. ATB vs Bellini - Samba de Janeiro at 9pm.
date: 20130920
metaKeywords: ATB, Bellini, Samba de Janeiro, 9pm, Remix, Mashup, Albert Olive, Bootleg, 2013, Dj, Deejay
permalink: /mashup/atb-vs-bellini-samba-de-janeiro-at-9pm/
image: ATB-vs-Bellini.jpg
duration: T04M17S
soundcloud: 111398189
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/4zsfoPbQlaA?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/atb-vs-bellini-samba-de-janeiro-at-9pm-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}