---
layout: default
type: mashup
id: 11
title: Bola de Drac vs Avicii & Skrillex - Levels & Bola de drac
seoDescription: Escolta i descarrega la millor remescla de Bola de drac amb Avicci & Skrillex. Estigues al dia dels millors mashups i bootlegs dels Països Catalans.
date: 20130726
metaKeywords: Albert Olive, Mashup, Remix, Feat, Versus, Vs, Dj, Deejay, 2013, Bola de Drac, Avicii, Skrillex (Musical Artist), Levels (Composition)
permalink: /mashup/bola-de-drac-vs-avicii-&-skrillex-levels-&-bola-de-drac/
image: Bola-de-Drac-vs-Avicii-&-Skrillex.jpg
duration: T04M38S
soundcloud: 102696427
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/i1mfFGViDMY?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/bola-de-drac-vs-avicii
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}