---
layout: default
type: mashup
id: 4
title: Bruno Mars vs Adele - Set fire to the rain with grenade
seoDescription: Listen the most listened mashup / bootleg of 2013. Bruno Mars vs Adele - Set fire to the rain with grenade.
date: 2013-03-29
metaKeywords: Remix, Adele, Set Fire to the Rain, Mashup, Grenade, Bruno Mars, Albert Olive
permalink: /mashup/bruno-mars-vs-adele-set-fire-to-the-rain-with-grenade/
image: Bruno-Mars-vs-Adele.jpg
duration: T04M09S
soundcloud: 85597676
youtube:
vimeo:
dailymotion:
videoSeo: vimeo.com/62944791
audioSeo: https://soundcloud.com/albert-olive/bruno-mars-vs-adele-set-fire-to-the-rain-grenade-albert-olive-mashup
download: https://albertolive.bandcamp.com/track/bruno-mars-vs-adele-set-fire-to-the-rain-with-grenade-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}