---
layout: default
type: mashup
id: 24
title: Chemical Brothers vs Deadmau5 vs Black Eyed Peas - Pump the animal big jump
seoDescription: Check out this brand new mashup / bootleg song of 2014. Chemical Brothers vs Deadmau5 vs Black Eyed Peas - Pump the animal big jump. 
date: 20140831
metaKeywords: Chemical Brothers, Deadmau5, The Black Eyed Peas, Pump it, Animal rights, The big jump, Albert Olive, Mashup, Bootleg, Pump the animal big jump
permalink: /mashup/chemical-brothers-vs-deadmau5-vs-black-eyed-peas-pump-the-animal-big-jump/
image: Chemical-Brothers-vs-Deadmau5-vs-Black-Eyed-Peas.jpg
duration: T04M26S
soundcloud: 165603277
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/uvPs1YnH9IU?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/chemical_brothers_vs_deadmau5_vs_black_eyed_peas_pump_the_animal_big_jump_albert_olive_mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}