---
layout: default
type: mashup
id: 7
title: Chicane vs Ashley Wallbridge - Going deep vision
seoDescription: Listen and download the best trance mashup / bootleg song of 2013. Chicane vs Ashley Wallbridge - Going deep vision.
date: 20130417
metaKeywords: Chicane, Ashley Wallbridge, Going Deep, Vision, Albert Olive, Mashup, Remix, Bootleg
permalink: /mashup/chicane-vs-ashley-wallbridge-going-deep-vision/
image: Chicane-vs-Ashley-Wallbridge.jpg
soundcloud: 88391365
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/watch?v=DSXcsO6opRQ
audioSeo: https://soundcloud.com/albert-olive/chicane-vs-ashley-wallbridge
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}