---
layout: default
type: mashup
id: 7
title: Chicane vs Ashley Wallbridge - Going deep vision
seoDescription: Listen and download the best trance mashup / bootleg song of 2013. Chicane vs Ashley Wallbridge - Going deep vision.
date: 2013-04-17
metaKeywords: Chicane, Ashley Wallbridge, Going Deep, Vision, Albert Olive, Mashup, Remix, Bootleg
permalink: /mashup/chicane-vs-ashley-wallbridge-going-deep-vision/
image: Chicane-vs-Ashley-Wallbridge.jpg
duration: T07M21S
soundcloud: 88391365
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/DSXcsO6opRQ?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/chicane-vs-ashley-wallbridge
download: https://albertolive.bandcamp.com/track/chicane-vs-ashley-wallbridge-going-deep-vision-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}