---
layout: default
type: mashup
id: 1
title: Chris Anderson & Dj Robbie vs Dusminguet - Last night Marihuana
seoDescription: Escolta la primera remescla en català del Dj Albert Olivé. Chris Anderson & Dj Robbie vs Dusminguet - Last night Marihuana mashup / bootleg 2013.
date: 2013-02-11
metaKeywords: Dusmingut, Chris Anderson, Dj Robbie, Last Night, Marihuana, Vafalungo, Postrof, Mashup, Remix, Albert Olive, Dj, Deejay, Music, Música, Dance, Rumba Catalana
permalink: /mashup/chris-anderson-&-dj-robbie-vs-dusminguet-last-night-marihuana/
image: Chris-Anderson-&-Dj-Robbie-vs-Dusminguet.jpg
duration: T04M11S
soundcloud:
youtube: -VwvntgasPo
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/-VwvntgasPo?version=3&amp;autohide=1
audioSeo: 
download: https://albertolive.bandcamp.com/track/chris-anderson-dj-robbie-vs-dusminguet-last-night-marihuana-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include youtube.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}