---
layout: default
type: mashup
id: 17
title: David Guetta Vs Die Antwoord - Love is on fire
seoDescription: Listen and download the best Electro House mashup / bootleg song of 2014. David Guetta Vs Die Antwoord - Love is on fire.
date: 20140215
metaKeywords: David Guetta, Die Antwoord, Love is on fire, Love is gone, Baby's on fire, Remix, 2014, Albert Olive, Mashup, Bootleg
permalink: /mashup/david-guetta-vs-die-antwoord-love-is-on-fire/
image: David-Guetta-Vs-Die-Antwoord.jpg
duration: T03M41S
soundcloud:
youtube: bIaGZzmNbgs
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/bIaGZzmNbgs?version=3&amp;autohide=1
audioSeo:
download: https://albertolive.bandcamp.com/track/david-guetta-vs-die-antwoord-love-is-on-fire-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include youtube.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}