---
layout: default
type: mashup
id: 13
title: David Guetta Vs Benny Benassi Vs Faithless - Memories & Satisfaction
seoDescription: Download this great mashup of David Guetta Vs Benny Benassi Vs Faithless - Memories & Satisfaction. One of the best bootleg songs of 2013.
date: 2013-10-12
metaKeywords: David Guetta (Musical Artist), Memories, Benny Benassi (Musical Artist), Remix, Feat, Mashup (Musical Genre), Albert Olive, Faithless, God is a Dj, Kid Cudi (Musical Artist), Satisfaction, 2013, Bootleg, Mix
permalink: /mashup/david-guetta-vs-benny-benassi-vs-faithless-memories-&-satisfaction/
image: David-Guetta-Vs-Benny-Benassi-Vs-Faithless.jpg
duration: T03M32S
soundcloud: 114598389
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/QyVHEyoBeAU?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/david-guetta-vs-benny-benassi-vs-faithless-memories-satisfaction
download: https://albertolive.bandcamp.com/track/david-guetta-vs-benny-benassi-vs-faithless-memories-satisfaction-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}