---
layout: default
type: mashup
id: 33
title: Els Amics De Les Arts vs Sopa de Cabra - Els Somnis De L'Home que treballa fent de gos
seoDescription: Escolta el primer mashup de la història de dos grups en català. Descarregata'l aquí!
date: 2016-19-03
metaKeywords: Els Amics De Les Arts, Sopa de Cabra, Els Somnis De L'Home que treballa fent de gos, Els teus somnis, L'home que treballa fent de gos, Dj Albert Olive, Mashup, bootleg
permalink: /mashup/els-amics-de-les-arts-vs-sopa-de-cabra-els-somnis-de-l-home-que-treballa-fent-de-gos/
image: els-amics-de-les-arts-vs-sopa-de-cabra-els-somnis-de-l-home-que-treballa-fent-de-gos.jpg
duration: T04M48S
soundcloud:
youtube: sKEFyJxoRo4
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/sKEFyJxoRo4?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/els-amics-de-les-arts-vs-sopa-de-cabra-els-somnis-de-l-home-que-treballa-fent-de-gos
download: https://albertolive.bandcamp.com/track/els-amics-de-les-arts-vs-sopa-de-cabra-els-somnis-de-lhome-que-treballa-fent-de-gos
downloadLow: http://stereoload.com/albert-olive/els-amics-de-les-arts-vs-sopa-de-cabra-els-somnis-de-lhome-que-treballa-fent-de-gos
facebookBug: false
---

 {% include top-section-mashups.html %}

 {% include youtube.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}