---
layout: default
type: mashup
id: 14
title: LMFAO Vs Skrillex feat. Sirah - Sexy and I Know It Bangarang
seoDescription: Listen LMFAO Vs Skrillex feat. Sirah - Sexy and I Know It Bangarang. Mashup / Bootleg song with Dance-pop, EDM, electropop and dubstep genres. 
date: 20131105
metaKeywords: LMFAO (Musical Group), Bangarang, Skrillex (Musical Artist), Mashup (Musical Genre), Remix, Albert Olive, Feat, Sirah, Sexy And I Know It (Composition)
permalink: /mashup/lmfao-vs-skrillex-feat-sirah-sexy-and-i-know-it-bangarang/
image: LMFAO-Vs-Skrillex-feat.-Sirah.jpg
soundcloud: 119194888
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/watch?v=KbMmc6SSaYo
audioSeo: https://soundcloud.com/albert-olive/lmfao_vs_skrillex-sexy_and_i_know_it_bangarang_albert_olive_mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}