---
layout: default
type: mashup
id: 16
title: Major Lazer Vs Cosmic Gate - Get Up And Watch Out For This
seoDescription: Listen the best of two worlds. Moombahton and Trance genre united. Major Lazer Vs Cosmic Gate - Get Up And Watch Out For This mashup / bootleg 2014.
date: 20140118
metaKeywords: Cosmic Gate, Major Lazer, So Get Up, Watch Out For This, Albert Olive, Mashup, Bootleg, Get Up and Watch Out For This, 2014
permalink: /mashup/major-lazer-vs-cosmic-gate-get-up-and-watch-out-for-this/
image: Major-Lazer-Vs-Cosmic-Gate.jpg
duration: T04M39S
soundcloud: 130149181
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/vy0QKchQJn8?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/major_lazer_vs_cosmic_gate-get_up_and_watch_out_for_this_albert_olive_mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}