---
layout: default
type: mashup
id: 27
title: Manel Vs Tata Golosa - Al Mar Con Los Micrófonos
seoDescription: Escolta la remescla / mashup dels Manel vs Tata Golosa - Al Mar Con Los Micrófonos. La millor cançó de parla catalana del 2014. Descarrega música en català. 
date: 20141221
metaKeywords: Manel, Tata Golosa, Al Mar, Los micrófonos, Al mar con los micrófonos, mashup, bootleg, albert olive
permalink: /mashup/manel-vs-tata-golosa-al-mar-con-los-microfonos/
image: manel-vs-tata-golosa.jpg
soundcloud: 182545222
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/watch?v=0tLPwQAdOPo
audioSeo: https://soundcloud.com/albert-olive/manel-vs-tata-golosa-al-mar-con-los-microfonos-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}