---
layout: default
type: mashup
id: 27
title: Manel Vs Tata Golosa - Al Mar Con Los Micrófonos
seoDescription: Escolta la remescla / mashup dels Manel vs Tata Golosa - Al Mar Con Los Micrófonos. La millor cançó de parla catalana del 2014. Descarrega música en català. 
date: 2014-12-21
metaKeywords: Manel, Tata Golosa, Al Mar, Los micrófonos, Al mar con los micrófonos, mashup, bootleg, albert olive
permalink: /mashup/manel-vs-tata-golosa-al-mar-con-los-microfonos/
image: manel-vs-tata-golosa.jpg
duration: T04M16S
soundcloud: 182545222
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/0tLPwQAdOPo?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/manel-vs-tata-golosa-al-mar-con-los-microfonos-albert-olive-mashup
download: https://albertolive.bandcamp.com/track/manel-vs-tata-manel-vs-tata-golosa-al-mar-con-los-micr-fonos-albert-olive-mashup
downloadLow: http://stereoload.com/albert-olive/manel-vs-tata-golosa-al-mar-con-los-microfonos-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}