---
layout: default
type: mashup
id: 18
title: Martin Garrix vs Apollo 440 - Stop the Animals
seoDescription: Listen this mashup / bootleg electro house song. Martin Garrix vs Apollo 440 - Stop the Animals. One of the best of 2014.
date: 2014-03-05
metaKeywords: Martin Garrix, Apollo 440 (Musical Group), Bootleg, Animals, Stop The rock, Stop the animals, Albert Olive, 2014, Remix, Mashup
permalink: /mashup/martin-garrix-vs-apollo-440-stop-the-animals/
image: Martin-Garrix-vs-Apollo-440.jpg
duration: T04M33S
soundcloud: 138026000
youtube:
vimeo:
dailymotion:
videoSeo:
audioSeo: https://soundcloud.com/albert-olive/martin-garrix-vs-apollo-440
download: https://albertolive.bandcamp.com/track/martin-garrix-vs-apollo-440-stop-the-animals-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}