---
layout: default
type: mashup
id: 29
title: Meghan Trainor vs Avicii vs Nicky Romero - I could be all about that bass
seoDescription: 
date: 2015-28-02
metaKeywords: Meghan Trainor, Avicii, Nicky Romero, I could be all about that bass, I could be the one, All about that bass, Albert Olive, Mashup, Bootleg, 2015
permalink: /mashup/meghan-trainor-vs-avicii-vs-nicky-romero-i-could-be-all-about-that-bass/
image: Meghan-Trainor-vs-Avicii-vs-Nicky-Romero-I-could-be-all-about-that-bass.jpg
duration: T05M41S
soundcloud:
youtube: Un6gfLzWcrs
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/Un6gfLzWcrs?version=3&amp;autohide=1
audioSeo:
download: https://albertolive.bandcamp.com/track/meghan-trainor-vs-avicii-vs-nicky-romero-i-could-be-all-about-that-bass-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include youtube.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}