---
layout: default
type: mashup
id: 9
title: Michael Jackson vs Mazoni - Això nostre s'ha acabat Billie Jean
seoDescription: Escolta la remescla / mashup de Michael Jackson vs Mazoni - Això nostre s'ha acabat Billie Jean. Una de les millors cançons catalanes del 2013.
date: 20130603
metaKeywords: Michael Jackson (Author), Billie Jean (Composition), Mashup (Musical Genre), Remix, Feat, Mazoni, Albert Olive, Això nostre s'ha acabat, Billie Jean
permalink: /mashup/michael-jackson-vs-mazoni-això-nostre-sha-acabat-billie-jean/
image: Michael-Jackson-vs-Mazoni.jpg
duration: T04M04S
soundcloud: 95348464
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/2kbtYvwUEAc?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/michael-jackson-vs-mazoni-aixo-nostre-sha-acabat
download: https://albertolive.bandcamp.com/track/michael-jackson-vs-mazoni-aixo-nostre-sha-acabat-billie-jean-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}