---
layout: default
type: mashup
id: 10
title: Orxata Sound System vs Faithless - Insomnia Nai ti su
seoDescription: Escolta el millor mashup / bootleg del 2013 d'Orxata Sound System amb Faithless - Insomnia Nai ti su. Escolta totes les remescles en català del Dj Albert Olivé.
date: 2013-07-06
metaKeywords: orxata, Orxata Sound System, Faithless, Insomnia, Nai ti su, Albert Olive, Mashup, Remix, Feat, Versus, Vs, Dj, Deejay, 2013
permalink: /mashup/orxata-sound-system-vs-faithless-insomnia-nai-ti-su/
image: Orxata-Sound-System-vs-Faithless.jpg
duration: T05M57S
soundcloud: 99914746
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/zZ7gJO-vU8g?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/orxata-sound-system-vs-faithless-insomnia-nai-ti-su
download: https://albertolive.bandcamp.com/track/orxata-sound-system-vs-faithless-insomnia-nai-ti-su-albert-olive-mashup
downloadLow: http://stereoload.com/albert-olive/orxata-sound-system-vs-faithless-insomnia-nai-ti-su-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}