---
layout: default
type: mashup
id: 10
title: Orxata Sound System vs Faithless - Insomnia Nai ti su
seoDescription: Escolta el millor mashup / bootleg del 2013 d'Orxata Sound System amb Faithless - Insomnia Nai ti su. Escolta totes les remescles en català del Dj Albert Olivé.
date: 20130706
metaKeywords: orxata, Orxata Sound System, Faithless, Insomnia, Nai ti su, Albert Olive, Mashup, Remix, Feat, Versus, Vs, Dj, Deejay, 2013
permalink: /mashup/orxata-sound-system-vs-faithless-insomnia-nai-ti-su/
image: Orxata-Sound-System-vs-Faithless.jpg
soundcloud: 99914746
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/watch?v=zZ7gJO-vU8g
audioSeo: https://soundcloud.com/albert-olive/orxata-sound-system-vs-faithless-insomnia-nai-ti-su
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}