---
layout: default
type: mashup
id: 19
title: Pitbull vs Proyecto uno - I know you want me tiburon
seoDescription: Listen Pitbull vs Proyecto uno mashup / bootleg. The best reggaeton song of 2014. The title is I know you want me tiburon.
date: 20140313
metaKeywords: Pitbull (Musical Artist), Albert Olive, El tiburon, Remix, Mashup, Bootleg, Proyecto uno, 2013, I Know You Want Me (Calle Ocho) 
permalink: /mashup/pitbull-vs-proyecto-uno-i-know-you-want-me-tiburon/
image: Pitbull-vs-Proyecto-uno.jpg
soundcloud:
youtube: pSEN_3usIAM
vimeo:
dailymotion:
videoSeo: www.youtube.com/watch?v=pSEN_3usIAM
audioSeo:
---

 {% include top-section-mashups.html %}

 {% include youtube.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}