---
layout: default
type: mashup
id: 25
title: Skrillex vs The Black Eyed Peas - Kill That Body
seoDescription: Discover new music with this Mashup / Bootleg remix of Skrillex vs The Black Eyed Peas - Kill That Body. Listen and download this mashup song of 2014.
date: 20141010
metaKeywords: Mashup, The Black Eyed Peas, Skrillex, Kill that Body, Bootleg, Albert Olive, Kill Everybody, Rock your body
permalink: /mashup/skrillex-vs-the-black-eyed-peas-kill-that-body/
image: Skrillex-vs-The-Black-Eyed-Peas.jpg
soundcloud: 171513853
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/watch?v=z9jT0v9VpnE
audioSeo: https://soundcloud.com/albert-olive/skrillex-vs-the-black-eyed-peas-kill-that-body-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}