---
layout: default
type: mashup
id: 3
title: The Black Eyed Peas Vs Juan Magan - I Got a Verano Azul Feeling
seoDescription: This is the most listened mashup of 2013. Listen here The Black Eyed Peas Vs Juan Magan - I Got a Verano Azul Feeling song.
date: 20130321
metaKeywords: Feeling, Gotta, Peas, Eyed, Eyed Peas, Albert Olive, dj, mashup, bootleg, The black eyed peas, Juan Magan, I gotta feeling, verano azul, Remix
permalink: /mashup/the-black-eyed-peas-vs-juan-magan-i-got-a-verano-azul-feeling/
image: The-Black-Eyed-Peas-Vs-Juan-Magan.jpg
soundcloud: 85597150
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/Rl8pxbhv1R4?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/the-black-eyed-peas-vs-juan
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}