---
layout: default
type: mashup
id: 15
title: The Killers vs Rasmus Faber & Syke 'n' Sugarstarr - We Go Oh Human
seoDescription: Listen and download The Killers (Armin van buuren edit) vs Rasmus Faber & Syke 'n' Sugarstarr - We Go Oh Human mashup. One of the best bootleg songs of 2013.
date: 20131206
metaKeywords: Remix, Human, Live, Rasmus Faber (Musical Artist), The Killers (Musical Group), Mix, Mashup (Musical Genre), Albert Olive, Syke 'n' Sugarstarr, We Go Oh Human, We Go Oh, Armin van Buuren
permalink: /mashup/the-killers-vs-rasmus-faber-&-syke-n-sugarstarr-we-go-oh-human/
image: The-Killers-vs-Rasmus-Faber-&-Syke-Sugarstarr.jpg
duration: T07M29S
soundcloud: 123534296
youtube:
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/ARDwUploRGc?version=3&amp;autohide=1
audioSeo: https://soundcloud.com/albert-olive/the-killers-vs-rasmus-faber-syke-n-sugarstarr-we-go-oh-human-albert-olive-mashup
download: https://albertolive.bandcamp.com/track/the-killers-vs-rasmus-faber-syke-n-sugarstarr-we-go-oh-human-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}