---
layout: default
type: mashup
id: 6
title: Tom Jones vs BodyRockers - I like Sex Bomb
seoDescription: Listen and download one of the most listened mashups / bootlegs of 2013, om Jones vs BodyRockers - I like Sex Bomb.
date: 20130413
metaKeywords: Tom Jones, Body Rockers, Sex Bomb, I like the way you move, Mashup, Remix, Vs, Feat, Albert Olive, bootleg
permalink: /mashup/tom-jones-vs-bodyrockers-i-like-sex-bomb/
image: Tom-Jones-vs-BodyRockers.jpg
soundcloud:
youtube: g773kVQAIs8
vimeo:
dailymotion:
videoSeo: www.youtube.com/watch?v=g773kVQAIs8
audioSeo: 
---

 {% include top-section-mashups.html %}

 {% include youtube.html %}

 {% include subscribe.html %}

 {% include listen-more.html %}

 {% include comments.html %}