---
layout: default
type: mashup
id: 30
title: Ummet Ozcan Vs The Black Eyed Peas - Don't Phunk With My Kensei
seoDescription: Listen this mashup with The Black Eyed Peas, American Hip Hop group vs Ummet Ozcan, Turkish Dj and producer of EDM.
date: 2015-12-04
metaKeywords: Mashup, Ummet Ozcan, The Black Eyed Peas, Dont Phunk With My Hearth, Kensei, Albert Olive, Bootleg, 2015, Dj Albert Olive, The Prodigy, Noir, Solomun Vox, Narayan, Don't Phunk With My Kensei
permalink: /mashup/ummet-ozcan-vs-the-black-eyed-peas-dont-phunk-with-my-kensei/
image: Ummet-Ozcan-vs-The-Black-Eyed-Peas-Dont-Phunk-With-My-Kensei.jpg
duration: T05M24S
soundcloud:
youtube: C-PbNFGKQVw
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/C-PbNFGKQVw?version=3&amp;autohide=1
audioSeo:
download: https://albertolive.bandcamp.com/track/meghan-trainor-vs-avicii-vs-nicky-romero-i-could-be-all-about-that-bass-albert-olive-mashup
downloadLow: http://stereoload.com/albert-olive/ummet-ozcan-vs-the-black-eyed-peas-dont-phunk-with-my-kensei-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include youtube.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}