---
layout: default
type: mashup
id: 31
title: Zoo vs The Prodigy - Baby's got a Xuplasangs
seoDescription: Escolta el mashup entre Zoo, grup del moment dels Països Valencians i The Prodigy, un dels grans grups Britànics dels 90.
date: 2015-17-05
metaKeywords: Zoo, The Prodigy, Baby's Got a Temper, Baby's Got a Xuplasangs, Xuplasangs, Dj Albert Olive, Mashup, Bootleg
permalink: /mashup/zoo-vs-the-prodigy-babys-got-a-xuplasangs/
image: Zoo-vs-The-Prodigy-Babys-got-a-Xuplasangs.jpg
duration: T04M12S
soundcloud: 205733254
youtube: 
vimeo:
dailymotion:
videoSeo: www.youtube.com/v/ws5fhN-vnws?version=3&amp;autohide=1
audioSeo:
download: https://albertolive.bandcamp.com/track/zoo-vs-the-prodigy-babys-got-a-xuplasangs-albert-olive-mashup
downloadLow: http://stereoload.com/albert-olive/ummet-ozcan-vs-the-black-eyed-peas-dont-phunk-with-my-kensei-albert-olive-mashup
---

 {% include top-section-mashups.html %}

 {% include soundcloud.html %}

 {% include mashupInfo.html %}

 {% include listen-more.html %}

 {% include subscribe.html %}

 {% include navigator.html %}

 {% include comments.html %}