<section id="biography" class="biography">
	<div class="col-lg-10 col-lg-offset-1">
		<p class="text-left animated fadeInUp visible" data-animation="fadeInUp" data-delay="0">
			<div itemscope itemtype="http://data-vocabulary.org/Person">
				<span itemprop="name">Albert Olivé Corbella</span> was born in <span itemprop="address">Barcelona</span> in 1988 and indulged his passion for music from a young age. He started listening a lot of different styles like jazz, classical music, pop, etc. He became interested in electronic music while he was listening every night this genre on the radio. From an early age he began playing many different instruments. Therefore, their mixes seems to be a single song.
				<br>
				He had a monthly radio show called Top Trance Mix where he did a selection of the bests tunes of every month. He finished his radio show because he wanted to focus on producing. Nowadays, he's producing mashups and remixes of best artist like Major Lazer, Bongo Botrako, Boikot, LMFAO, Skrillex, David Guetta, etc.
				<br>
				He has played in <a href="http://www.clap.cat/" target="_blank">Clap Mataró</a> and <a href="http://www.2046granollers.com" target="_blank">2046 Granollers</a>. Also he has played in Festes Majors of Cardedeu and Granollers and many more. He’s also known as Pd Oli, La Factoria and Disco Inferno.
			</div>
		</p>
	</div>
</section>