<section id="contact" class="contact">
	    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper">
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                    	<p>If you have any questions, feedback, comments, suggestions or if you want to book me, please get in touch with me.</p>
						<a href="mailto:djalbertolive@gmail.com" target="_top">djalbertolive@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-left same-height-wrapper">
                <div class="col-md-12 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                    	<div class="fb-like-box" data-href="https://www.facebook.com/albertolivedj" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false" data-width="240" data-height="375"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left same-height-wrapper">
                <div class="col-md-12 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                    	<a class="twitter-timeline" href="https://twitter.com/djalbertolive" data-widget-id="556452130580856832">Piulades de @djalbertolive</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-left same-height-wrapper">
                <div class="col-md-12 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="500">
                    <div class="card">
                    	<!-- Posa aquesta etiqueta allà on vulguis que widget es renderitzi. -->
						<div class="g-page" data-width="250" data-href="//plus.google.com/u/0/112151174750054079036" data-rel="publisher"></div>

						<!-- Posa aquesta etiqueta després de la darrera etiqueta de widget. -->
						<script type="text/javascript">
						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = 'https://apis.google.com/js/platform.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        </div>
    </div>
</section>