<section id="events" class="events">
	<a href="http://www.songkick.com/artists/7977278" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-background-color="transparent">Dj Albert Olive tour dates</a>
<script src="//widget.songkick.com/widget.js"></script>

<!-- <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/Dj%20Albert%20Olive" class="bit-widget-initializer" data-artist="Dj Albert Olive">Dj Albert Olive Tour Dates</a> -->
</div>