
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="author" content="Dj Albert Olivé">

    <link rel="author" href="https://plus.google.com/u/0/+Djalbertolive">
    <link rel="publisher" href="https://plus.google.com/u/0/+Djalbertolive">

    {% if page.url == "/" %}
        {% assign description =  site.description %}
    {% elsif page.title == "News" %}
        {% assign description =  site.newsDescription %} 
    {% elsif page.title == "Biography" %}
        {% assign description =  site.biographyDescription %} 
    {% elsif page.title == "Schedule" %}
        {% assign description =  site.scheduleDescription %} 
    {% elsif page.title == "Mashups" %}
        {% assign description =  site.mashupsDescription %} 
    {% elsif page.title == "Top Trance Mix" %}
        {% assign description =  site.toptrancemixDescription %} 
    {% elsif page.title == "Contact" %}
        {% assign description =  site.contactDescription %}  
    {% elsif page.type == "mashup" %}
        {% assign description =  page.seoDescription %}
    {% else %}
        {% assign description =  site.description %}
    {% endif %}

    <meta name="description" content="{{ description }}">

    {% if page.type == "mashup" %}
        <meta name="keywords" content="{{ page.metaKeywords }}">
        <meta name="pubdate" content="{{ page.date }}">
        <meta name="last_updated" content="{{ page.date }}">
        <meta name="dateCreated" content="{{ page.date }}">
        <meta itemprop="datePublished" content="{{ page.date }}" id="date">

        {% if page.soundcloud %}
            {% assign player = "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/" | append: {{page.soundcloud}} %}
        {% elsif page.youtube %}
            {% assign player = "https://www.youtube.com/embed/" | append: {{page.youtube}} %}
        {% endif %}

        <link rel="image_src" href="{{ site.url }}/img/mashups/hifi/{{ page.image }}"/>
        <link rel="video_src" href="http://{{page.videoSeo}}"/>
        <meta name="video_height" content="480"/>
        <meta name="video_width" content="640"/>
        <meta name="video_type" content="application/x-shockwave-flash"/>

        <!-- Social: Twitter -->
        <meta name="twitter:card" content="player">
        <meta name="twitter:site" content="{{ site.twitterAccount }}">
        <meta name="twitter:creator" content="{{ site.twitterAccount }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.seoDescription }}">
        <meta name="twitter:player" content="{{ player }}">
        <meta name="twitter:player:width" content="640">
        <meta name="twitter:player:height" content="480">
        <!--  <meta name="twitter:image:src" content="{{ site.url }}/img/mashups/hifi/{{ page.image }}"> -->

        <!-- Social: Facebook / Open Graph -->
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/> 
        <meta property="og:site_name" content="{{ site.title }}"/>
        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
        <meta property="og:image" content="{{ site.url }}/img/mashups/hifi/{{ page.image }}"/>
        <meta property="og:description" content="{{ page.seoDescription }}"/>
        {% if page.videoSeo %}
            <meta property="og:type" content="video"/>
            <meta property="og:video" content="http://{{page.videoSeo}}"/>
            <meta property="og:video:secure_url" content="https://{{page.videoSeo}}"/>
            <meta property="og:video:type" content="application/x-shockwave-flash"/>
            <meta property="og:video:width" content="640"/>
            <meta property="og:video:height" content="480" />
            <meta property="og:video:tag" content="{{page.metaKeywords}}">
        {% else %}
            <meta property="medium" content="video"/>
            <meta property="og:video:type" content="application/x-shockwave-flash"/>
            <meta property="og:video:height" content="98"/>
            <meta property="og:video:width" content="460"/>
            <meta property="og:video" content="http://player.soundcloud.com/player.swf?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{{page.soundcloud}}&amp;auto_play=false&amp;show_artwork=true&amp;visual=true&amp;color=3b5998&amp;origin=facebook"/>
            <!-- <meta property="og:type" content="music.song" />
            <meta property="og:audio:type" content="audio/mpeg" />
            <meta property="og:audio" content="http://{{page.audioSeo}}" />
            <meta property="og:title" content="{{page.title}}" /> -->
        {% endif %}

    {% else %}

        <meta name="keywords" content="{{ site.metaKeywords }}">

        <!-- Social: Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{ site.twitterAccount }}">
        <meta name="twitter:creator" content="{{ site.twitterAccount }}">
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image:src" content="{% if page.image %}{{ site.url }}/img/sections-background/{{ page.image }} {% else %} {{ site.url }}/img/about-section/mashup.jpg {% endif %}"/>

        <!-- Social: Facebook / Open Graph -->
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/> 
        <meta property="og:site_name" content="{{ site.title }}"/> 
        <meta property="og:type" content="website"/> 
        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
        <meta property="og:image" content="{% if page.image %}{{ site.url }}/img/sections-background/{{ page.image }} {% else %} {{ site.url }}/img/about-section/mashup.jpg {% endif %}"/>
        <meta property="og:description" content="{{ description }}"/>
    {% endif %}

    <meta name="google-site-verification" content="{{ site.siteVerification }}"/>
    <link rel="canonical" href="{{ site.url }}">
    
    <title>{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/img/favicons/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/favicons/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/img/favicons/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/favicons/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/img/favicons/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/favicons/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/img/favicons/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/favicons/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-196x196.png" sizes="196x196" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-160x160.png" sizes="160x160" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-96x96.png" sizes="96x96" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-32x32.png" sizes="32x32" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-16x16.png" sizes="16x16" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ "/img/favicons/mstile-144x144.png" | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="{{ "/img/favicons/browserconfig.xml" | prepend: site.baseurl }}">
    
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.0.min.js"></script>r
      
  </head>
