<!-- Begin Latest News Section -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
			<h3>{{ site.latestNewsTitle }}</h3>
			<article class="row">
				{% for post in site.data.mashups limit:4 %}
                    {% assign postUrl = site.baseurl | append: post.link %} 
					<div class="center-block post col-md-3 col-sm-3 text-left animated hiding" data-animation="fadeInDown" data-delay="300">
						<a href="{{ site.baseurl }}/mashup/{{ post.link }}" target="_self">
			                    <div class="flow-img img-circle judge-img" style="background-image: url({{ site.baseurl }}/img/mashups/lofi/{{ post.thumbnailUrl }})"></div>
			                    <!--<p class="name">{{ followme.name }}</p>-->
			            </a>
			            <div class="text-center"><h6 class="normalText">{{ post.name }}</h6></div>
					</div>
                {% endfor %}
			</article>
		</div>
	</div>
</section>
<!-- End Latest News Section -->