<!-- Begin Latest News Section -->
<section id="listen-more" class="listen-more">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">
            <h3>Watch it in other sites</h3>
            <div class="row">
                {% assign animationDelay = 0 %} 
                {% for mashup in site.data.mashups %}
                    {% if mashup.id == page.id %}
                        {% if mashup.soundcloud != '' %}
                            {% assign nSites = nSites | plus:1 %}
                        {% endif %}
                        {% if  mashup.youtube != '' %}
                            {% assign nSites = nSites | plus:1 %}
                        {% endif %}
                        {% if  mashup.vimeo != '' %}
                            {% assign nSites = nSites | plus:1 %}
                        {% endif %}
                        {% if  mashup.dailymotion != '' %}
                            {% assign nSites = nSites | plus:1 %}
                        {% endif %}
                        {% assign colWidth = 12 | divided_by:nSites %}
                        {% if mashup.soundcloud != '' %}
                            <a href="{{ mashup.soundcloud }}" target="_blank">
            	                <div class="judge col-md-{{ colWidth }} col-xs-{{ colWidth }} animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
            	                    <div class="flow-img img-circle judge-img" style="background-image: url({{ site.baseurl }}/img/socialNetwork/soundcloud.jpg)"></div>
            	                </div>
            	            </a>
                        {% endif %}
                        {% if mashup.youtube != '' %}
                            <a href="{{ mashup.youtube }}" target="_blank">
                                <div class="judge col-md-{{ colWidth }} col-xs-{{ colWidth }} animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                                    <div class="flow-img img-circle judge-img" style="background-image: url({{ site.baseurl }}/img/socialNetwork/youtube.jpg)"></div>
                                </div>
                            </a>
                        {% endif %}
                        {% if mashup.vimeo != '' %}
                            <a href="{{ mashup.vimeo }}" target="_blank">
                                <div class="judge col-md-{{ colWidth }} col-xs-{{ colWidth }} animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                                    <div class="flow-img img-circle judge-img" style="background-image: url({{ site.baseurl }}/img/socialNetwork/vimeo.jpg)"></div>
                                </div>
                            </a>
                        {% endif %}
                        {% if mashup.dailymotion != '' %}
                            <a href="{{ mashup.dailymotion }}" target="_blank">
                                <div class="judge col-md-{{ colWidth }} col-xs-{{ colWidth }} animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                                    <div class="flow-img img-circle judge-img" style="background-image: url({{ site.baseurl }}/img/socialNetwork/dailymotion.jpg)"></div>
                                </div>
                            </a>
                        {% endif %}
                        {% if mashup.soundcloud == '' and mashup.youtube == '' and mashup.vimeo == '' and mashup.dailymotion == '' %}
                            <h4>There's no more sites</h4>
                        {% endif %}
                        {% assign animationDelay = animationDelay | plus:500 %} 
                        {% assign check = forloop.index | modulo:2 %} 
                        {% if check == 0 %}
                        <div class="clearfix visible-xs"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
	   </div>
    </div>
</section>
<!-- End Latest News Section -->