<section id="mashupInfo" class="mashupInfo image-section parallax" style="background-image: url({{ site.baseurl }}/img/mashups/banner/{{ page.image }});">
	<div class="content-wrapper">
		<div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left same-height-wrapper">
                <div class="col-md-12 col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">

                <script type="text/javascript">
                    Parse.initialize("7lOHcwVNB0ooQ0NA9N2MBAVljYWQEj5sij52S4QE", "UxZq7CTocxcTXwgXU1hQWkQL6lHNygO3WM6zrM7u");
                    var url = window.location.pathname.replace('/mashup/', '').replace('/', '');
                    var query = new Parse.Query("total");
                      query.equalTo("link", url);
                      query.first().then(function(singleItem) {
                            if (singleItem) {
                                var data = singleItem.toJSON();
                                $('#plays').append(data.plays);
                            } else {
                                 $('#plays').append('0');
                            }
                      });
                </script>
                <div id="totalPlays"></div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                        	<img src="{{ site.baseurl }}/img/mashups/hifi/{{ page.image }}" width="100%" alt="{{page.title}}">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <br>
                        	<h5><b>{{page.title}}</b></h5>
                        	<h6>{{page.seoDescription}}</h6>
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <p><b>Release date: </b> {{page.date}}</p>
                            <h6><span id="plays"></span> views</h6>
                            <div class="rw-ui-container"></div>
                        </div>
                        {% if page.downloadLow %}
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="downloadMashupText">
                                	<a href="{{page.downloadLow}}" target="_blank">
                                		<h5><b>Download Mid Quality</b></h5>
                                        <br>
                                		<img src="{{ site.baseurl }}/img/sprites/download.png" alt="download" class="downloadIcon">
                            		</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="downloadMashupText">
                                <a href="{{page.download}}" target="_blank">
                                    <h5><b>Download High Quality</b></h5>
                                    <br>
                                    <img src="{{ site.baseurl }}/img/sprites/download.png" alt="download" class="downloadIcon">
                                </a>
                            </div>
                        </div>
                        {% else %}
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="downloadMashupText">
                                    <a href="{{page.download}}" target="_blank">
                                        <h5><b>Download High Quality</b></h5>
                                        <br>
                                        <img src="{{ site.baseurl }}/img/sprites/download.png" alt="download" class="downloadIcon">
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <br>
                            <h5><b>Spread the word</b></h5>
                        	<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='15763119' data-title='{{page.title}}' data-link='http://www.djalbertolive.com{{page.permalink}}' data-summary='{{page.seoDescription}}' data-image='http://www.djalbertolive.com/img/mashups/hifi/{{ page.image }}'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>