<section id="soundcloud" class="soundcloud">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
			<div class="videoWrapper">
				<div itemscope itemtype="http://schema.org/AudioObject">
			    	<iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
				    <meta itemprop="contentURL" content="{{ page.audioSeo }}" />
				    <meta itemprop="embedURL" content="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud }}" />
				    <meta itemprop="uploadDate" content="{{page.date}}" />
				</div>	
			</div>
        </div>
    </div>
</section>