<section id="vimeo" class="vimeo">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
			<div class="videoWrapper">
				<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			    	<iframe src="//player.vimeo.com/video/{{page.vimeo}}" width="560" height="349" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			    	<meta itemprop="thumbnailUrl" content="{{ site.url }}/img/mashups/banner/{{ page.image }}" />
				    <meta itemprop="contentURL" content="{{ page.videoSeo }}" />
				    <meta itemprop="embedURL" content="//player.vimeo.com/video/{{page.vimeo}}" />
				    <meta itemprop="uploadDate" content="{{page.date}}" />
				    <meta itemprop="name" content="{{page.title}}" />
				    <meta itemprop="datepublished" content="{{page.date}}" />
				    <meta itemprop="duration" content="{{page.duration}}" />
			    </div>
			</div>
        </div>
    </div>
</section>