<section id="youtube" class="youtube">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
			<div class="videoWrapper">
			    <!-- Copy & Pasted from YouTube -->
			    <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			    	<iframe src="http://www.youtube.com/embed/{{ page.youtube }}?rel=0&amp;hd=1" allowfullscreen></iframe>
			    	<meta itemprop="thumbnailUrl" content="{{ site.url }}/img/mashups/banner/{{ page.image }}" />
				    <meta itemprop="contentURL" content="{{ page.videoSeo }}" />
				    <meta itemprop="embedURL" content="http://www.youtube.com/embed/{{ page.youtube }}" />
				    <meta itemprop="uploadDate" content="{{page.date}}" />
				    <meta itemprop="datepublished" content="{{page.date}}" />
				    <meta itemprop="name" content="{{page.title}}" />
				    <meta itemprop="duration" content="{{page.duration}}" />
		    	</div>
			</div>
        </div>
    </div>
</section>